{% extends 'app/base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block body %}
<div class="container my-5">
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
    <p class="fs-4">SMP Electric Automobiles Pvt. Ltd. is the new age Electric Vehicle Company of two-wheeler and
        three-wheeler developed and manufacture in India in collaboration with India largest leading
        vehicle manufacturing companies.<br>
        We are fast growing and expanding start up based in Lucknow, Uttar Pradesh. Our
        Manufacturing and assembling unit is located in various part of India and is capable of rolling
        out 2000+ vehicle per months.<br><br>
        Presently we have cycle, scooter, motorcycle and E-Rikshaw in our steadily expanding porƞolio
        to cover both rural and urban segment so as to promote a sustainable development through
        green energy. The Company’s product is designed and delivered to meet the need and
        expectation of customers who demand high quality standard.<br>
        We also plan to establish Battery Charging Station and Battery swapping points at different parts
        of India with techno economic-policy aspect of safe conduit and commercial viability. </p>
</div>
</div>
<div class="container my-5">
    <h2 class="text-center">Vision</h2>
            <div class="row container">
            <p class="fs-4">SMPS Electric Automobiles Private Limited is an Electric Vehicle manufacturing and trading
                Company. We also have plan to establish Battery Charging Station and Battery swapping points
                at different parts of India with techno economic-policy aspect of safe conduit and commercial
                viability.</p>
        </div>
        </div> </p>
    </div>
    </div> </p>
</div>
</div>
{% endblock body %}