body{
  background-color: lightgray;
}
.owl-carousel .item{
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    transition: transform .5s ease;
   }
   
    .owl-carousel .item:hover{
       /* border: 1px solid black; */
       transform : scale(1.1);
   }
   .owl-carousel img{
       transition: transform .5s ease;
     }
    .owl-carousel img:hover{
       
       transform : scale(1.25);
   }
   
   .owl-next{
    float:right;
   }
   .owl-prev{
    float:left;
   }
   .owl-prev span{
    font-size: 24px;
    font-weight: bold;
   }
   .owl-next span{
    font-size: 24px;
    font-weight: bold;
   }
   
   .scooter{
       background-color:#fff;background-image:linear-gradient(#fff7ef, #fff);
       background-image:-webkit-linear-gradient(#fff7ef, #fff);
       background-image:-moz-linear-gradient(#fff7ef, #fff);
       background-image:-ms-linear-gradient(#fff7ef, #fff);
       background-image:-o-linear-gradient(#fff7ef, #fff);
       padding:50px 40px;
       border:1px solid #efe8e1;
       padding-bottom:20px;
   }
   
   .smbg{
       background-color:#fff;
       background-image:linear-gradient(rgba(110, 69, 143, 0.1), #fff);
       background-image:-webkit-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
       background-image:-moz-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
       background-image:-ms-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
       background-image:-o-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
   }
   
   .curdbgpro{
       background-color:#fff;
       background-image:linear-gradient(rgba(10, 77, 123, 0.1), #fff);
       background-image:-webkit-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
       background-image:-moz-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
       background-image:-ms-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
       background-image:-o-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
   }
   
   .goodnessseccont img{
       width:100%;
   }
   
   .mlkpro{
       color:#636362;
       font-size:22px;
       line-height:22px;
       margin-bottom:15px;
       width:43%;
       margin:0 auto;
       text-align:center;
       
   }
   
   .goodnesssec a{
       text-decoration: none;
   }

   #footer {
    background: #101522;
    padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #040919;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 26px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
  }
  
  #footer .footer-top .footer-info img {
    height: 100px;
    margin-bottom: 10px;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #222636;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #f82249;
    color: #fff;
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 2px solid #f82249;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: #f82249;
    font-size: 18px;
  }
  
  #footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #262c44;
    padding: 10px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #eee;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #f82249;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #f82249;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #e0072f;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
  }
  